#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


#quote-box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 20px #646cff;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.quote {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#text {
  font-style: italic;
  font-size: x-large;
  line-height: 1.8rem;
}

#author {
  font-weight: 800;
  font-size: large;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  gap: 3rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

#new-quote {
  align-self: flex-end;
  justify-self: flex-end;
}

.card {
  padding: 1em;
}